<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AprendeApp"
        tools:targetApi="31">

        <!-- Pantalla de Bienvenida / Splash -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Autenticación -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="@string/login_title"/>
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:label="@string/register_title"/>

        <!-- Menú principal -->
        <activity
            android:name=".MenuActivity"
            android:exported="false"
            android:label="@string/menu_title"/>

        <!-- CRUD Recursos -->
        <activity
            android:name=".ListarRecursosActivity"
            android:exported="false"
            android:label="@string/title_listar_recursos"/>
        <activity
            android:name=".BuscarRecursoActivity"
            android:exported="false"
            android:label="@string/title_buscar_recurso"/>
        <activity
            android:name=".AgregarRecursoActivity"
            android:exported="false"
            android:label="@string/title_agregar_recurso"/>
        <activity
            android:name=".EditarRecursoActivity"
            android:exported="false"
            android:label="@string/title_editar_recurso"/>

    </application>
</manifest>
